@model SoccerClub.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Details Of Product</h4>
                    @*<span>Datatable</span>*@
                </div>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Product</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <div class="col-sm-8">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.ProductName)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Quantity)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Price)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Price)
                                </dd>
                              
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Category)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Category.CategoryId)
                                </dd>
                            </div>
                            <div class="col-sm-4">

                                <img class="rounded-circle" width="250" height="250" src="@Model.ImageUrl" alt="">

                            </div>




       

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



