@model IEnumerable<SoccerClub.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int sno = 1;
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>List Of Products</h4>
                    @*<span>Datatable</span>*@
                </div>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Products</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@sno</td>
                                            <td><img class="rounded-circle" width="35" height="35" src="@item.ImageUrl" alt=""></td>
                                            <td> @Html.DisplayFor(modelItem => item.ProductName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Price)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                                            <td>
                                                <div class="d-flex">
                                                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary shadow btn-xs sharp me-1">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary shadow btn-xs sharp me-1">
                                                        <i class="fa fa-user"></i>
                                                    </a>

                                                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>

                                        sno++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img src="@Url.Content(item.ImageUrl)" alt="Product Image" width="100" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="Productid" value="@item.ProductId"/>
                        <input type="hidden" name="Quantity" value="1" min="1" class="form-control" />

                        <button type="submit" class="btn btn-danger btn-sm">Add To Cart</button>
                    </form>

                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
