@model IEnumerable<SoccerClub.Models.Match>

@{
	ViewData["Title"] = "Matches";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb -->
<div class="breadcrumb-main">
	<div class="container">
		<div class="breadcrumb-container">
			<h2 class="page-title">Matches</h2>
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">
						Home
					</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Matches</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- main -->
<main>
	<div class="common-home">
		<div id="content" class="col">
			<!-- fixures -->
			<div class="category-featured mt-50  wow fadeInUp">
				<div class="box-content">
					<div class="container">
						<div class="page-title toggled">
							<span class="page-title-left"></span>
							<h3>
								Fixtures
							</h3>
							<span class="page-title-right"></span>
						</div>
@*						<div class="themability-tabs section">
							<ul class="nav nav-pills" id="pills-tab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active"
											 type="button" role="tab" aria-controls="pills-featured"
											aria-selected="true">
										First Team
									</button>
								</li>
								
							</ul>
						</div>*@
						<div class="tab-content" id="pills-tabContent">
							<div class=" tab-pane fade show active" id="pills-featured" role="tabpanel"
								 aria-labelledby="pills-featured-tab">
								<div class="next-matches">
									Next-Matches
								</div>
								@foreach (var item in Model)
								{
									<div class="row matche-1">
										<div class="col-6 matches-team-left ">
											<div class="date-time">
												<i class="fa-regular fa-calendar-days d-none"></i>
												<div class="blog-date">@item.Date.Day</div>
												<div class="blog-month">@item.Date.ToString("MMM")</div>
											</div>
											<div class="matches-team">
												<a>
													<img src="@item.HomeTeam.LogoUrl" alt="">
													<div class="matches-team-name">
														@item.HomeTeam.Name
													</div>
												</a>
											</div>
											<div class="vs">vs</div>
											<div class="matches-team">
												<a>
													<img src="@item.AwayTeam.LogoUrl" alt="">
													<div class="matches-team-name">
														@item.AwayTeam.Name
													</div>
												</a>
											</div>
										</div>
										<div class="matches-team-right col-6">
											<div class="match-location">
												<i class="fa-solid fa-location-dot"></i>
												<div>@item.Venue / @item.Date.ToString("HH:mm")</div>
												<a asp-action="MatchesDetail" asp-controller="Home" asp-route-id="@item.MatchId" class="btn-default">view details</a>
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<div class="news mt-50 wow fadeInUp">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>