@model IEnumerable<SoccerClub.Models.Match>

@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb -->
<div class="breadcrumb-main">
    <div class="container">
        <div class="breadcrumb-container">
            <h2 class="page-title">Schedule</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Schedule</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<main>
    <div class="common-home">
        <div id="content" class="col">
            <div class="schedule-section mt-50  wow fadeInUp">
                <div class="box-content">
                    <div class="container">
                        <div class="page-title toggled">
                            <span class="page-title-left"></span>
                            <h3>
                                Schedule
                            </h3>
                            <span class="page-title-right"></span>
                        </div>
                        <div class="row" id="schedule_table">
                            <div class="col-md-12">
                                <div class="tab-2 table-responsive">
                                    <div class="limit-cat">
                                        <div class="text-category-limit">
                                            <label for="input-limit" class="input-group-text input-group-addon">Show</label>
                                        </div>
                                        <div class="select-cat-limit">
                                            <select id="input-limit" class="form-select form-control" onchange="location = this.value;">
                                                <option value="#" selected="">12 </option>
                                                <option value="#">25</option>
                                                <option value="#">50</option>
                                                <option value="#">75</option>
                                                <option value="#">100</option>
                                            </select>
                                        </div>
                                        <div class="text-category-limit">
                                            <label for="input-limit" class="input-group-text input-group-addon">Entries</label>
                                        </div>
                                    </div>
                                    <table class="table2">
                                        <tr class="tab_head-schedule ">
                                            <th>Date</th>
                                            <th>Event</th>
                                            <th>Time</th>
                                            <th>League</th>
                                            <th>season</th>
                                            <th>Venue</th>
                                            <th class="ticket">action</th>
                                        </tr>
                                        @foreach(var item in Model)
                                        {
                                            
                                        <tr>
                                                <td>@item.Date.ToString("MMMM dd, yyyy")</td>
                                                <td>@item.HomeTeam.Name vs @item.AwayTeam.Name</td>
                                                <td>@item.Date.ToString("HH:mm")</td>
                                                <td>@item.League</td>
                                            <td>@item.Season</td>
                                            <td>@item.Venue</td>
                                            <td class="ticket"><a asp-action="MatchesDetail" asp-route-id="@item.MatchId" asp-controller="Home"> <button class="sh-btn btn-default">View Details</button> </a></td>
                                        </tr>
                                        }

                                    </table>
                                    <div class="previous row">
                                        <div class="col-sm-6 left1">
                                            Showing 1 to 9 of 9 entries
                                        </div>
                                        <div class="col-sm-6 left2">
                                            <div class="product-btn-quantity ">
                                                <button class="minus">
                                                    Previous
                                                </button>
                                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
                                                <input type="hidden" name="product_id" value="43" id="input-product-id">
                                                <button class="plus">
                                                    Next
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news mt-50 wow fadeInUp">
                <div class="container">
                </div>
            </div>
        </div>
    </div>
</main>