@model SoccerClub.Models.IndexVM
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- PAGE CONTENT -->
<main>
    <div class="common-home mt-5 mb-5 pb-5">
        @if (Model.team.Any() || Model.matches.Any() || Model.player.Any() || Model.product.Any())
        {
            <div id="content" class="col">
                <!-- upcoming match -->
                @if (Model.matches.Any())
                {
                    <div class="category-featured mt-50  wow fadeInUp">
                        <div class="box-content">
                            <div class="container">
                                <div class="page-title toggled">
                                    <span class="page-title-left"></span>
                                    <h3>
                                        Upcoming Match
                                    </h3>
                                    <span class="page-title-right"></span>
                                </div>
                                <div class="upcoming-section">
                                    <div class="row">
                                        @foreach (var item in Model.matches)
                                        {
                                            <div class="col-sm-3 upcoming-game">
                                                <article class="game-result">
                                                    <div class="game-info game-info-creative text-center">
                                                        <h6 class="game-info-title">
                                                            @item.League
                                                        </h6>
                                                        <time class="time-big" datetime="2025-04-17">
                                                            <span class="heading-3">@item.Date.ToShortDateString()</span>
                                                        </time>
                                                        <div>
                                                            <div class="game-info-main">
                                                                <div class="game-info-team game-info-team-first">
                                                                    <div class="game-info-logo">
                                                                        <figure>
                                                                            <a href="#">
                                                                                <img src="@item.HomeTeam.LogoUrl" alt="match">
                                                                            </a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="team-name">
                                                                        <p>@item.HomeTeam.Name</p>
                                                                    </div>
                                                                </div>
                                                                <div class="game-info-team game-info-team-second">
                                                                    <div class="game-info-logo">
                                                                        <figure>
                                                                            <a href="#">
                                                                                <img src="@item.AwayTeam.LogoUrl" alt="match">
                                                                            </a>
                                                                        </figure>
                                                                    </div>
                                                                    <div class="team-name">
                                                                        <p>@item.HomeTeam.Name</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- table -->
                @if (Model.matches.Any())
                {
                    <div class="schedule-section mt-50  wow fadeInUp">
                        <div class="box-content">
                            <div class="container">
                                <div class="page-title toggled">
                                    <span class="page-title-left"></span>
                                    <h3>
                                        League Table & <br> Schedule
                                    </h3>
                                    <span class="page-title-right"></span>
                                </div>
                                <div class="row" id="schedule_table">

                                    <div class="col-md-12">
                                        <div class="tab-2 table-responsive">
                                            <table class="table2">
                                                <tr>
                                                    <td class="table_heading" colspan="4">Series 1</td>
                                                </tr>
                                                <tr class="tab_head">
                                                    <th>DATE</th>
                                                    <th>EVENT</th>
                                                    <th>TIME</th>
                                                    <th>VENUE</th>
                                                </tr>
                                                @foreach (var item in Model.matches)
                                                {
                                                    <tr>
                                                        <td>@item.Date.ToShortDateString()</td>
                                                        <td>@item.HomeTeam.Name vs @item.AwayTeam.Name</td>
                                                        <td>@item.Date.ToShortTimeString()</td>
                                                        <td>@item.Venue</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- team store slider -->
                @if (Model.product.Any() || Model.player.Any())
                {
                    <div class="store-section mt-50  wow fadeInUp">
                        @if (Model.product.Any())
                        {
                            <div class="box-content">
                                <div class="container">
                                    <div class="page-title toggled">
                                        <span class="page-title-left"></span>
                                        <h3>
                                            Our Team Store
                                        </h3>
                                        <span class="page-title-right"></span>
                                    </div>
                                    <div class="themability-tabs section">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-featured-tab" data-bs-toggle="pill" data-bs-target="#pills-featured" type="button" role="tab" aria-controls="pills-featured" aria-selected="true">Latest</button>
                                            </li>
                                            @*     <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-bestseller-tab" data-bs-toggle="pill" data-bs-target="#pills-bestseller" type="button" role="tab" aria-controls="pills-bestseller" aria-selected="false">Bestseller</button>
                                </li>*@
                                        </ul>
                                    </div>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="row">
                                            <div class="tab-pane fade show active" id="pills-featured" role="tabpanel" aria-labelledby="pills-featured-tab">
                                                <div class="owl-carousel products-carousel">
                                                    @foreach (var item in Model.product)
                                                    {

                                                        <div class="item">
                                                            <div class="col col-xs-12 single-column">
                                                                <div class="team_store">
                                                                    <div class="store_right">
                                                                        <div class="game-info-logo">
                                                                            <div class="store-img">
                                                                                <figure>
                                                                                    <a href="product.html">
                                                                                        <img src="@item.ImageUrl" alt="match">
                                                                                    </a>
                                                                                </figure>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="store_left">
                                                                        <div class="title-rating">
                                                                            <div class="product-title">
                                                                                <a href="#">@item.ProductName</a>
                                                                            </div>
                                                                            <div class="store-button-group">
                                                                                <button class="addcart" asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.ProductId" title="Add to Cart">
                                                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                                                    <span class="d-none">Add to Cart</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="product-caption">
                                                                                <a href="product.html">
                                                                                    <div class="product-name">
                                                                                        @item.ProductName
                                                                                    </div>
                                                                                </a>
                                                                                <div class="product-price">
                                                                                    Rs. @item.Price
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-bestseller" role="tabpanel" aria-labelledby="pills-bestseller-tab">
                                                <div class="owl-carousel products-carousel">
                                                    @foreach (var item in Model.product)
                                                    {

                                                        <div class="item">
                                                            <div class="col col-xs-12 single-column">
                                                                <div class="team_store">
                                                                    <div class="store_right">
                                                                        <div class="game-info-logo">
                                                                            <div class="store-img">
                                                                                <figure>
                                                                                    <a href="product.html">
                                                                                        <img src="@item.ImageUrl" alt="match">
                                                                                    </a>
                                                                                </figure>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="store_left">
                                                                        <div class="title-rating">
                                                                            <div class="product-title">
                                                                                <a href="#">@item.ProductName</a>
                                                                            </div>
                                                                            <div class="store-button-group">
                                                                                <button class="addcart" asp-action="ProductDetail" asp-controller="Home" asp-route-id="@item.ProductId" title="Add to Cart">
                                                                                    <i class="fa-solid fa-cart-shopping"></i>
                                                                                    <span class="d-none">Add to Cart</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="product-caption">
                                                                                <a href="product.html">
                                                                                    <div class="product-name">
                                                                                        @item.ProductName
                                                                                    </div>
                                                                                </a>
                                                                                <div class="product-price">
                                                                                    Rs. @item.Price
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- player squrd -->
                        @if (Model.player.Any())
                        {
                            <div class="players-squade mt-50  wow fadeInUp">
                                <div class="box-content">
                                    <div class="container">
                                        <div class="page-title toggled">
                                            <span class="page-title-left"></span>
                                            <h3>
                                                Players Squad
                                            </h3>
                                            <span class="page-title-right"></span>
                                        </div>
                                        <div class="owl-carousel players-carousel">
                                            @foreach (var item in Model.player)
                                            {
                                                <div class="item">
                                                    <div class="player-up">
                                                        <a href="players-details.html">
                                                            <img src="@item.PlayerImage" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="player-bottom">
                                                        <a href="players-details.html">
                                                            <p class="player-name1">@item.Name</p>
                                                        </a>
                                                        <p class="player-name2" style="text-transform:capitalize;"> @item.Position</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

            </div>
        }
        else
        {
            <div id="content" class="col d-flex align-items-center justify-content-center" style="height:500px">
                <div class="category-featured mt-50  wow fadeInUp">
                    <div class="box-content">
                        <div class="container">
                            <div class="page-title toggled">
                                <span class="page-title-left"></span>
                                <h3>
                                    Result Not Found
                                </h3>
                                <span class="page-title-right"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

