@model IEnumerable<SoccerClub.Models.Product>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-main mt-5">
    <!-- main -->
    <main>
        <div class="common-home mt-5">
            <div id="content" class="col">
                <div class="container">
                    <div class="page-title toggled">
                        <span class="page-title-left"></span>
                        <h3>
                            Marchendise
                        </h3>
                        <span class="page-title-right"></span>
                    </div>
                    <div class="row">
                        <div class="heading-shop ">
                            <div class="row shophead1">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                    <div class="select-cat-sort ">
                                        <select id="input-sort" class="form-select form-control" onchange="location = this.value;">
                                            @if (ViewBag.de == "de")
                                            {
                                                <option value="@Url.Action("Shop", "Home")" selected>Default</option>
                                            }
                                            else
                                            {
                                                <option value="@Url.Action("Shop", "Home")">Default</option>
                                            }
                                            @if (ViewBag.de == "az")
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "A-Z" })" selected>Name (A - Z)</option>
                                            }
                                            else
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "A-Z" })">Name (A - Z)</option>
                                            }
                                            @if (ViewBag.de == "za")
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "Z-A" })" selected>Name (Z - A)</option>
                                            }
                                            else
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "Z-A" })">Name (Z - A)</option>
                                            }
                                            @if (ViewBag.de == "lh")
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "LtoH" })" selected>Price (Low &gt; High)</option>
                                            }
                                            else
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "LtoH" })">Price (Low &gt; High)</option>
                                            }
                                            @if (ViewBag.de == "hl")
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "HtoL" })" selected>Price (High &gt; Low)</option>
                                            }
                                            else
                                            {
                                                <option value="@Url.Action("Shop", "Home", new { id = "HtoL" })">Price (High &gt; Low)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="shop-section row">
                                @foreach (var item in Model)
                                {
                                    <div class="col col-sm-3">
                                        <div class="team_store">
                                            <div class="store_right">
                                                <div class="game-info-logo">
                                                    <div class="store-img">
                                                        <figure>
                                                            <a asp-action="ProductDetail" asp-route-id="@item.ProductId">
                                                                <img src="@item.ImageUrl" alt="match">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="store_left">
                                                <div class="title-rating">
                                                    <div class="product-title">
                                                        <a href="">@item.Category.CategoryName</a>
                                                    </div>
                                                    <div class="store-button-group">
                                                        <a asp-action="ProductDetail" asp-route-id="@item.ProductId">
                                                            <button class="addcart" type="submit" title="Add to Cart">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                                <span class="d-none">Add to Cart</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-name">
                                                            <a asp-action="ProductDetail" asp-route-id="@item.ProductId">
                                                                @item.ProductName
                                                            </a>
                                                        </div>
                                                        <div class="product-price">
                                                            Rs . @item.Price
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@* <script>
    document.getElementById("input-sort").addEventListener("change", function () {
        e.preventDefault();
        var selectedValue = this.value;
        $.ajax({
            url: '/Home/Shop',
            type: 'POST',
            data: { selectedOption: selectedValue },
            success: function (result) {
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script> *@