@model IEnumerable<SoccerClub.Models.Product>
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb -->
<div class="breadcrumb-main">
    <div class="container">
        <div class="breadcrumb-container">
            <h2 class="page-title">Shop</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Shop</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="shop-main">
<!-- main -->
<main>
    <div class="common-home">
        <div id="content" class="col">
            <div class="container">
                    <div class="page-title toggled">
                        <span class="page-title-left"></span>
                        <h3>
                            Marchendise
                        </h3>
                        <span class="page-title-right"></span>
                    </div>
                <div class="row">
                    <div class="heading-shop ">
                        <div class="row shophead1">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="select-cat-sort ">
                                    <select id="input-sort" class="form-select form-control" onchange="location = this.value;">
                                        <option value="" selected="">Default</option>
                                        <option value="">Name (A - Z)</option>
                                        <option value="">Name (Z - A)</option>
                                        <option value="">Price (Low &gt; High)</option>
                                        <option value="">Price (High &gt; Low)</option>
                                        <option value="">Rating (Highest)</option>
                                        <option value="">Rating (Lowest)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="shop-section row">
                                @foreach (var item in Model)
                                {
                                    <div class="col col-sm-3">
                                        <div class="team_store">
                                            <div class="store_right">
                                                <div class="game-info-logo">
                                                    <div class="store-img">
                                                        <figure>
                                                            <a asp-action="ProductDetail" asp-route-id="@item.ProductId">
                                                                <img src="@item.ImageUrl" alt="match">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="store_left">
                                                <div class="title-rating">
                                                    <div class="product-title">
                                                        <a href="">@item.Category.CategoryName</a>
                                                    </div>
                                                    <div class="store-button-group">
                                                        <button class="addcart" type="submit" title="Add to Cart">
                                                            <i class="fa-solid fa-cart-shopping"></i>
                                                            <span class="d-none">Add to Cart</span>
                                                        </button>
                                                    </div>
                                                    <div class="product-caption">
                                                        <div class="product-name">
                                                            <a  asp-action="ProductDetail" asp-route-id="@item.ProductId">
                                                                @item.ProductName
                                                            </a>
                                                        </div>
                                                        <div class="product-price">
                                                            Rs . @item.Price
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    
                                }
                            
                           
                        </div>
                        
                    </div>
                    <div class="news mt-50 wow fadeInUp">
                        <div class="news-inner">
                            <div class="themabilitynewsletterblock">
                                <div class="themability-newsletter-form block-content box-content">
                                    <div class="page-title toggled d-none">
                                        <h3>Newsletter</h3>
                                    </div>
                                    <div class="block_box">
                                        <div class="news-info">
                                            <div class="row">
                                                <div class="col-xl-6">
                                                    <div class="newsletter_description_outer d-flex align-items-center">
                                                        <div class="icon-emails">
                                                            <i class="fa-solid fa-envelope"></i>
                                                        </div>
                                                        <div class="news-desc">
                                                            <div class="title-text">
                                                                <h3>Newsletter</h3>
                                                                <h3 class="d-none">Get Discount 30% Off</h3>
                                                            </div>
                                                            <div class="news-description">
                                                                Get free 20% discount for all product on your first order.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 d-flex align-items-center news-right">
                                                    <div class="newsletter_form">
                                                        <form action="#" method="post" id="form_themability_newsletter" data-oc-toggle="ajax">
                                                            <div class="subscribe-form">
                                                                <input type="email" name="themability_newsletter_usr_email"
                                                                       id="themability_newsletter_usr_email" placeholder="Enter Your E-mail.."
                                                                       class="form-control input-lg inputNew txtemail">
                                                                <button type="submit" data-bs-toggle="tooltip" title=""
                                                                        class="subscribe-btn btn-default">
                                                                    Subscribe
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</div>