@model SoccerClub.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Details Of Team</h4>
                    @*<span>Datatable</span>*@
                </div>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Team</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <div class="col-8">
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-6">
                                    @Html.DisplayNameFor(model => model.Country)
                                </dt>
                                <dd class="col-sm-6">
                                    @Html.DisplayFor(model => model.Country)
                                </dd>
                            </div>


       
                            <div class="col-sm-4">

                                <img class="rounded-circle" width="250" height="250" src="@Model.LogoUrl" alt="">

                            </div>

    </dl>
</div>
</div>
</div>
</div>
</div>
</div>



