@model IEnumerable<SoccerClub.Models.Cart>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int total = 0;
}
<!-- breadcrumb -->
<div class="breadcrumb-main">
    <div class="container">
        <div class="breadcrumb-container">
            <h2 class="page-title">Shopping Cart</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Shopping Cart</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- main -->
<div class="shoppingcart-main">
    <main>
        <div id="information-information" class="container">
            <div class="row">
                @if (Model.Any())
                {
                    <div id="content" class="col">

                        <div id="shopping-cart">
                            <div class="table-responsive">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td class="text-center">Image</td>
                                            <td class="text-start">Product Name</td>
                                            <td class="text-start">Model</td>
                                            <td class="text-start">Quantity</td>
                                            <td class="text-end">Unit Price</td>
                                            <td class="text-end">Total</td>
                                            <td class="text-end">Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="text-center">
                                                    <a href="#">
                                                        <img src="@item.product.ImageUrl" alt="T-shirt" title="T-shirt"
                                                             class="img-thumbnail">
                                                    </a>
                                                </td>
                                                <td class="text-start text-wrap"><a href="#">@item.product.Category.CategoryName</a> </td>
                                                <td class="text-start">@item.product.ProductName</td>
                                                <td class="text-start">
                                                    @item.Quantity
                                                </td>
                                                <td class="text-end">Rs . @item.product.Price</td>
                                                <td class="text-end">Rs . @item.Price</td>
                                                <td class="text-center"><a asp-action="DelItem" asp-controller="Carts" asp-route-id="@item.CartId"><i class="fas fa-trash-alt"></i></a></td>
                                            </tr>
                                            total += item.Price;
                                        }
                                    </tbody>
                                    <tfoot id="checkout-total">

                                        <tr>
                                            <td colspan="5" class="text-end"><strong>Total</strong></td>
                                            <td class="text-end">Rs .@total</td>
                                            <td></td>
                                        </tr>

                                    </tfoot>
                                </table>

                            </div>
                        </div>
                        <h2>What would you like to do next?</h2>
                    </div>
                    <br>
                    <div class="d-inline-block pt-5 pd-2 mb-5 w-100">
                        <div class="float-start"><a asp-action="Shop" asp-controller="Home" class="btn btn-default ">Continue Shopping</a></div>

                        <div class="float-end"><a asp-action="Checkout" class="btn btn-default ">Checkout</a></div>
                    </div>
                }
                else
                {
                    <div class="page-title toggled" style="height:200px">
                        <span class="page-title-left"></span>
                        <h3>
                            Your Cart Is Empty 
                        </h3>
                        <span class="page-title-right"></span>
                    </div>
                }


            </div>
        </div>

    </main>

</div>