@model IEnumerable<SoccerClub.Models.Match>


@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_adminLayout.cshtml";
	int sno = 0;
}
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-9 col-xxl-12">
				<div class="row">
					<div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
						<div class="card overflow-hidden">
							<div class="card-body pb-0 px-4 pt-4">
								<div class="row">
									<div class="col">
										<h5 class="mb-1">2000</h5>
										<span class="text-success">Total Sale</span>
									</div>
								</div>
							</div>
							<div class="chart-wrapper">
								<canvas id="areaChart_2" class="chartjs-render-monitor" height="90"></canvas>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
						<div class="card bg-success	overflow-hidden">
							<div class="card-body pb-0 px-4 pt-4">
								<div class="row">
									<div class="col">
										<h5 class="text-white mb-1">$14000</h5>
										<span class="text-white">Total Eraning</span>
									</div>
								</div>
							</div>
							<div class="chart-wrapper" style="width:100%">
								<span class="peity-line" data-width="100%">6,2,8,4,3,8,4,3,6,5,9,2</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
						<div class="card bg-primary overflow-hidden">
							<div class="card-body pb-0 px-4 pt-4">
								<div class="row">
									<div class="col text-white">
										<h5 class="text-white mb-1">570</h5>
										<span>VIEWS OF YOUR PROJECT</span>
									</div>
								</div>
							</div>
							<div class="chart-wrapper px-2">
								<canvas id="chart_widget_2" height="100"></canvas>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
						<div class="card overflow-hidden">
							<div class="card-body px-4 py-4">
								<h5 class="mb-3">1700 / <small class="text-primary">Sales Status</small></h5>
								<div class="chart-point">
									<div class="check-point-area">
										<canvas id="ShareProfit2"></canvas>
									</div>
									<ul class="chart-point-list">
										<li><i class="fa fa-circle text-primary me-1"></i> 40% Tickets</li>
										<li><i class="fa fa-circle text-success me-1"></i> 35% Events</li>
										<li><i class="fa fa-circle text-warning me-1"></i> 25% Other</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Matches</h4>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table id="example3" class="display" style="min-width: 845px">
								<thead>
									<tr>
										<th>S.No</th>
										<th>Home Team</th>
										<th>Away Team</th>
										<th>Venue</th>
										<th>Season</th>
										<th>League</th>
										<th>Date</th>
										<th>Time</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>

									@foreach (var item in Model)
									{
										<tr>
											<td>@sno</td>
											<td> @Html.DisplayFor(modelItem => item.HomeTeam.Name)</td>
											<td> @Html.DisplayFor(modelItem => item.AwayTeam.Name)</td>
											<td> @Html.DisplayFor(modelItem => item.Venue)</td>
											<td> @Html.DisplayFor(modelItem => item.Season)</td>
											<td> @Html.DisplayFor(modelItem => item.League)</td>
											<td> @Html.DisplayFor(modelItem => item.Date)</td>
											<td> @Html.DisplayFor(modelItem => item.Time)</td>
											<td>
												<div class="d-flex">
													<a asp-controller="Matches" asp-action="Edit" asp-route-id="@item.MatchId" class="btn btn-primary shadow btn-xs sharp me-1">
														<i class="fa fa-pencil"></i>
													</a>
													<a asp-controller="Matches" asp-action="Details" asp-route-id="@item.MatchId" class="btn btn-primary shadow btn-xs sharp me-1">
														<i class="fa fa-user"></i>
													</a>

													<a asp-controller="Matches" asp-action="Delete" asp-route-id="@item.MatchId" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>

										sno++;
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>