@model IEnumerable<SoccerClub.Models.Cart>
@{
    ViewData["Title"] = "OrderDetails";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int sno = 1;
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0 d-flex justify-content-between">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Order List</h4>
                    @*<span>Datatable</span>*@
                </div>
            </div>
            <div class="col-sm-6 p-md-0 d-flex justify-content-end">
                <select id="input-sort" onchange="location = this.value;">
                    @if (ViewBag.isac == "dp")
                    {
                        <option value="@Url.Action("OrderDetails", "admin", new { format = "Dp" })" selected>Dispatched</option>
                    }
                    else
                    {
                        <option value="@Url.Action("OrderDetails", "admin", new { format = "Dp" })">Dispatched</option>
                    }
                    @if (ViewBag.isac == "in")
                    {
                        <option value="@Url.Action("OrderDetails", "admin")" selected>Inprogress</option>
                    }
                    else
                    {
                        <option value="@Url.Action("OrderDetails", "admin")">Inprogress</option>
                    }
                </select>
            </div>


            @*            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
            </ol>
            </div>*@
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Orders</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Product Image</th>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Total Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>@sno</td>
                                            <td><img class="rounded-circle" width="35" height="35" src="@item.product.ImageUrl" alt=""></td>
                                            <td> @Html.DisplayFor(modelItem => item.product.ProductName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.User.FullName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.User.Address)</td>
                                            <td> @Html.DisplayFor(modelItem => item.User.PhoneNo)</td>
                                            <td> @Html.DisplayFor(modelItem => item.User.Email)</td>
                                            <td>@(item.Price * item.Quantity)</td>
                                            <td>
                                                <div class="d-flex">
                                                   
                                                     <a asp-action="EditStatus" asp-controller="admin" asp-route-id="@item.CartId" class=" " title="Change Order Status">@item.CartStatus</a>
                                                    @*<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                                *@
                                                </div>
                                            </td>
                                        </tr>

                                        sno++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

